body{
    margin: 0;
    padding: 0;
}

/* Start of navbar */
.navbar {
    background-color: #C62828!important;
    color: white !important;
}
.nav-link{
    font-weight: bold !important; 
}
.nav-link:hover{
    color: whitesmoke !important;
    border-bottom: 2px solid white !important;
}
.logo{
    text-shadow: 2px 2px 8px black;
    font-size: 40px;
  font-weight: bold ;
  color: whitesmoke;
}
.image{
    width: auto;
    height: 80px;
}

@media screen and (min-width:576px) and (max-width:767px){
    .logo{
        font-size: 38px;
    }
}
@media screen and (max-width:575px)
{
    .logo{
        font-size: 26px;
    }
    .image{
        width: auto;
        height: 60px;
    }
}
/* end of navbar */


/* start of Mirchi */

.cont{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.head{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 45px ;
    color: #C62828;
    margin-bottom: 30px;
    text-shadow: 2px 2px 6px #C62828 ;
    
}
.head:hover{
    cursor: pointer;
    color: #C62828;
    box-shadow: 2px 2px 4px #C62828 ;
}
.par{
    font-size: 18px;
    color: grey;
}
@media screen and (min-width:576px) and (max-width:767px){
    .head{
        font-size: 30px ;
    }
    .par{
        font-size: 15px;
    }
}
@media screen and (max-width:575px)
{
    .head{
        font-size: 25px ;
        
    }
    .par{
        font-size: 12px;
    }
}


/* Start of maincard */
.card1,.card2{
   
    display: flex;
    width: 35%;
    height: 100px;
    background-color: white;
    box-shadow: 2px 2px 4px grey ;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.mainCard{
    
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mainCard2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.fa-motorcycle,.fa-map-marker-alt,.fa-thumbs-up,.fa-clock{
    
    font-size: 38px;
    color: #C62828;
    margin-right: 10px;
}
.fa-motorcycle,.fa-map-marker-alt,.fa-thumbs-up,.fa-clock:hover{
    transition: 0.5s ease;
    cursor: pointer;
}
.font{
    color: #C62828;
    font-size: 34px;
}
@media screen and (min-width:576px) and (max-width:767px){
    .fa-motorcycle,.fa-map-marker-alt,.fa-thumbs-up,.fa-clock{
        font-size: 30px;
    }
    .font{
        font-size: 26px;
    }
    .card1,.card2{
        width: 100%;
    } 
}
@media screen and (max-width:575px)
{
    .fa-motorcycle,.fa-map-marker-alt,.fa-thumbs-up,.fa-clock{
        font-size: 25px;
    }
    .font{
        font-size: 22px;
    }
    .card1,.card2{
        width: 100%;
    } 
}


/* end of main card */


/* Start of NewFood */
.newFood{
 margin-top: 10px;  
 margin-bottom: 40px; 
}
.newFood1{
    margin-top: 10px;
    text-align: center;
    color: #C62828;
    text-shadow: 2px 2px 4px #C62828;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
}
.newFood11{
font-size: 56px;
margin-top: 40px;
margin-bottom:40px ;
text-align: center;
color: #C62828;
text-shadow: 2px 2px 6px #C62828;
}
.newFood11:hover{
    cursor: pointer;
    transition: 0.5s ease;
}
@media screen and (max-width:575px){
    .newFood11{
        font-size: 40px;
    }
    .newFood1{
        font-size: 28px;
    }
}
  @media screen and (min-width:576px) and (max-width:767px) {
    .newFood11{
        font-size: 45px;
    }
    .newFood1{
        font-size: 30px;
    }
      
  }
/* end of NewFood */

.card{
    width: 250px !important;
    height: auto !important;
    margin-bottom: 10px !important;
}
.card-text{
    font-weight: bold;
}
.card:hover{
    cursor: pointer;
    transition: 0.5s ease;
}
@media screen and (max-width:575px)
{
    .card{
        margin-bottom: 10px;
        width: 100%;
        
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .card{
        margin-bottom: 10px;
        width: 100%;
        
    }
}




/* Start of Footer */

.footer{
    width: 100%;
    height: 50px;
    background-color:#C62828 ;
}
.foot {
    
    color: gray;
    padding-top: 10px;
    padding-left: 30px;
}
@media screen and (max-width:575px){
    .footer{
        width: 100%;
        height: 50px;
        background-color:#C62828 ;
    }
    .foot {
        
        color: gray;
        padding-top: 5px;
        padding-left: 15px;
    }
}
@media screen and (max-width:575px){
    .footer{
        width: 100%;
        height: 30px;
        background-color:hsl(0, 66%, 47%) ;
    }
    .foot {
        font-size: 8px;
        color: gray;
        padding-top: 10px;
        padding-left: 30px;
    }
  }
  @media screen and (min-width:576px) and (max-width:767px){
    .footer{
        width: 100%;
        height: 40px;
        background-color:#C62828 ;
    }
    .foot {
        font-size: 12px;
        color: gray;
        padding-top: 20px;
        padding-left: 30px;
    }
  }
/* end of Footer */

