body{
    margin: 0;
    padding: 0;
}
/* Start of navbar */
.navbar {
    background-color: #C62828!important;
    color: white !important;
    

}
.nav-link{
    font-weight: bold !important; 
}
.nav-link:hover{
    color: whitesmoke !important;
    border-bottom: 2px solid white !important;
}
.logo{
    text-shadow: 2px 2px 8px black;
    font-size: 40px;
  font-weight: bold ;
  color: whitesmoke;
}
.image{
    width: auto;
    height: 80px;
}

@media screen and (min-width:576px) and (max-width:767px){
    .logo{
        font-size: 38px;
    }
}
@media screen and (max-width:575px)
{
    .logo{
        font-size: 26px;
    }
    .image{
        width: auto;
        height: 60px;
    }
}
/* end of navbar */



/* start of background image */

.text{
    width: 100%;
    height: 500px;
    background: url(../../../../images/Wallpaper.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 60px ;
}
@media screen and (max-width:575px){
    .text{
        width: 100%;
        height: 250px;
        font-size: 30px ;
    }
  }
  @media screen and (min-width:576px) and (max-width:767px){
      .text{
          width: 100%;
          height: 375px;
          font-size: 45px ;
      }
  }


/* end of background image */

/* Start of Head */

.cont{
   width: 100%;
    height: auto;
}
.head{
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #C62828;
    text-shadow: 2px 4px 6px #C62828;
    font-size: 52px;
    font-weight: bold;
    
}
.head:hover{
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 2px 4px 4px #C62828;
}
.headd{
    width: 800px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 24px;
    color: gray;
}

@media screen and (max-width:575px){
    .head{
        font-size: 28px;
    }
    .headd{
        font-size: 12px;
        width: 300px;
    }
    .head:hover{
        cursor: pointer;
        transition: 0.4s ease;
        box-shadow: 2px 2px 2px #C62828;
        color: #C62828;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .head{
        font-size: 34px;
    }
    .headd{
        font-size: 15px;
        width: 700px;
    }
    .headd:hover{
        cursor: pointer;
        transition: 0.4s ease;
        box-shadow: 2px 2px 4px #C62828;
        color: #C62828;
    }
}
/* Start of Head */



/* Start of About */
.container{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
    width: 800px;
    height: auto;
}
.headdd{
    color: #C62828;
    font-size: 32px;
}
.headdd{
    cursor: pointer;
}
.paraa{
    font-size: 16px;
    margin-bottom: 20px;
}
a{
    font-weight: bold;
    color: #C62828;
}
a:hover{
    color: #C62828;
}


@media screen and (max-width:575px)
{
    .container{
        width: 220px;
    }
    .headdd{
        font-size: 14px;
        font-weight: bold;
    }
    .paraa{
        font-size: 10px;
    }
}
@media screen and (min-width:576px) and (max-width:767px)
{
    .container{
        width: 550px;
    }
    .headdd{
        font-size: 36px;
    }
    .paraa{
        font-size: 16px;
    }
}
/* End of About */
















/* Start of Footer */

.footer{
    width: 100%;
    height: 50px;
    background-color:#C62828 ;
}
.foot {
    
    color: gray;
    padding-top: 10px;
    padding-left: 30px;
}
@media screen and (max-width:575px){
    .footer{
        width: 100%;
        height: 30px;
        background-color:#C62828 ;
    }
    .foot {
        font-size: 8px;
        color: gray;
        padding-top: 10px;
        padding-left: 30px;
    }
  }
  @media screen and (min-width:576px) and (max-width:767px){
    .footer{
        width: 100%;
        height: 40px;
        background-color:#C62828 ;
    }
    .foot {
        font-size: 12px;
        color: gray;
        padding-top: 20px;
        padding-left: 30px;
    }
  }
/* end of Footer */
