body{
    margin: 0;
    padding: 0;
}
/* Start of navbar */
.navbar {
    background-color: #C62828!important;
    color: white !important;
    

}
.nav-link{
    font-weight: bold !important; 
}
.nav-link:hover{
    color: whitesmoke !important;
    border-bottom: 2px solid white !important;
}
.logo{
    text-shadow: 2px 2px 8px black;
    font-size: 40px;
  font-weight: bold ;
  color: whitesmoke;
}
.image{
    width: auto;
    height: 80px;
}

@media screen and (min-width:576px) and (max-width:767px){
    .logo{
        font-size: 38px;
    }
}
@media screen and (max-width:575px)
{
    .logo{
        font-size: 26px;
    }
    .image{
        width: auto;
        height: 60px;
    }
}
/* end of navbar */




/* start of background image */

  .text{
      width: 100%;
      height: 500px;
      background: url(../images/Wallpaper.jpeg);
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 60px ;
  }
  @media screen and (max-width:575px){
    .text{
        width: 100%;
        height: 250px;
        font-size: 30px ;
    }
  }
  @media screen and (min-width:576px) and (max-width:767px) {
      .text{
          width: 100%;
          height: 375px;
          font-size: 45px ;
      }
  }
  
  

  

 





/* end of background image */

/* start of Menu */

table{
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.row{
    margin-top: 60px;
}
.head{
  
    font-size: 40px ;
    color:#C62828 ;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px #C62828 ;
    
}
.head:hover{
    cursor: pointer;
    transition: 0.5s ease;
}
@media screen and (min-width:576px) and (max-width:767px) {
    .head{
  
        font-size: 36px ;
        color:#C62828 ;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px #C62828 ;
        
    }
}
@media screen and (max-width:575px){
    .head{
  
        font-size: 28px ;
        color:#C62828 ;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px #C62828 ;
        
    }
}


/* end of menu */












/* Start of Footer */

.footer{
    width: 100%;
    height: 50px;
    background-color:#C62828 ;
}
.foot {
    
    color: gray;
    padding-top: 10px;
    padding-left: 30px;
}
@media screen and (max-width:575px){
    .footer{
        width: 100%;
        height: 30px;
        background-color:#C62828 ;
    }
    .foot {
        font-size: 8px;
        color: gray;
        padding-top: 10px;
        padding-left: 30px;
    }
  }
  @media screen and (min-width:576px) and (max-width:767px){
    .footer{
        width: 100%;
        height: 40px;
        background-color:#C62828 ;
    }
    .foot {
        font-size: 12px;
        color: gray;
        padding-top: 20px;
        padding-left: 30px;
    }
  }
/* end of Footer */
